<!DOCTYPE html>
<html lang="en">
<head>
  <%= render 'shared/page_header' %>
  <title><%=h page_title %></title>
</head>

<body>
  <div id="header">
    <h1><%= link_to this_blog.blog_name, this_blog.base_url %></h1>
    <p class="desc"><%= this_blog.blog_subtitle %></p>
  </div>

  <div id="page">
    <div id="content">
      <%= yield %>
    </div>

  </div>
</body>
</html>

